body {
  background: url(../assets/images/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #234A61;
  color: #fff;
  text-align: center;
}

.jumbotron {
  background: #234A61;
  background: rgba(35, 73, 95, 0.6);
  text-align: center;
  margin-top: 30px;
}

.btn-default {
  background: #70A302;
  border: none;
  color: #fff;
  width: 100%;
}

.row {
  margin-top: 50px;
}

.title-color {
  color: #70A302;
}

.social-buttons {
  height: 48px;
  width: 48px;
  padding: 2px;
}

.social {
  float: left;
}

.copyright {
  text-align: center;
}