body {
  background: url(../assets/images/background.png) no-repeat;
  background-size: 100%;
  color: #fff;
  text-align: center;
}

.jumbotron {
  background: #234A61;
  background: rgba(35, 73, 95, 0.6);
  text-align: center;
}

.btn-default {
  background: #70A302;
  border: none;
  color: #fff;
  width: 100%;
}

.row {
  margin-top: 50px;
}

.title-color {
  color: #70A302;
}